body {
  font-family: Oxygen;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.822);
  font-style: italic;
  color: azure;
  padding: 30px;
}

footer button {
  background-color: white;
  color: black;
  border-radius: 12px;
  width: auto;
  padding: 5px 10px;
  font-size: small;
}

.logosRedesSociales {
  display: flex;
  height: 34px;
  width: 300px;
  justify-content: space-between;
}

@media (max-width: 576px) {
  nav div img {
    opacity: 0;
  }
  a.navbar-brand.h1 {
    font-size: 160%;
  }
  header {
    height: 260px;
  }
  footer {
    font-size: 15px;
    font-style: normal;
  }
  .logo-fb {
    height: 24px;
    width: 24px;
  }
  .logosRedesSociales {
    display: flex;
    height: 24px;
    justify-content: space-between;
  }
  button.btn.btn-primary {
    display: flex;
    width: 70px;
    height: 60px;
    font-size: 15px;
  }
  h5 {
    font-size: 15px;
  }

  p {
    font-size: 10px;
  }
}

@media (max-width: 992px) {
}
