* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Oxygen;
}

h2 {
  font-size: large;
}

@media (max-width: 576px) {
  nav div img {
    opacity: 0;
  }
  a.navbar-brand.h1 {
    font-size: 160%;
  }
  header {
    height: 260px;
  }
  footer {
    font-size: 15px;
    font-style: normal;
  }
  .logo-fb {
    height: 24px;
    width: 24px;
  }
  .logosRedesSociales {
    display: flex;
    height: 24px;
    justify-content: space-between;
    width: 200px;
  }
  button.btn.btn-primary {
    display: flex;
    height: 40px;
    width: 60px;
    font-size: x-small;
    margin: 1mm;
  }
  h5 {
    font-size: 15px;
  }
  p {
    font-size: 10px;
  }
}
footer {
  display: flex;
  position: relative;
  justify-content: space-between;
  background-color: #000000;
  font-style: italic;
  color: azure;
  padding: 30px;
}

footer button {
  background-color: #ffffff;
  color: #000000;
  border-radius: 12px;
  padding: 5px 10px;
  font-size: small;
}

.logosRedesSociales {
  display: flex;
  height: 34px;
  width: 300px;
  justify-content: space-between;
}

.servicios-1 {
  display: flex;
  margin-bottom: 2px;
  margin-top: -10px;
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, rgb(34, 193, 195) 0%, rgb(253, 187, 45) 100%);
}

.servicios-texto-1 {
  display: flex;
  align-self: center;
  font-weight: bold;
  font-size: large;
}

.servicios-texto-2 {
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.fondo-texto-2 {
  margin-bottom: -16px;
  background: rgb(238, 174, 202);
  background: linear-gradient(90deg, rgb(238, 174, 202) 0%, rgb(148, 233, 158) 100%);
}

.imagen-servicios-1 {
  width: 50%;
  height: 600px;
  display: flex;
  order: 2;
}

.imagen-servicios-2 {
  width: 50%;
  display: flex;
  height: 800px;
  order: 2;
}

.imagen-servicios-3 {
  width: 50%;
  height: 800px;
  display: flex;
}

.servicios-2 {
  display: flex;
  margin-top: -16px;
}

.h1-servicios {
  background: rgb(238, 174, 202);
  background: linear-gradient(90deg, rgb(238, 174, 202) 0%, rgb(148, 233, 158) 100%);
}

@media (max-width: 576px) {
  .servicios-1 {
    display: flex;
    flex-direction: column;
    margin-top: -10px;
  }
  .servicios-2 {
    display: flex;
    flex-direction: column;
  }
  .imagen-servicios-1 {
    width: 100%;
    height: 600px;
    display: flex;
  }
  .imagen-servicios-2 {
    width: 100%;
    height: 600px;
    display: flex;
  }
  .imagen-servicios-3 {
    width: 100%;
    height: 600px;
    display: flex;
  }
  .servicios-texto-2 {
    font-size: larger;
  }
}
.texto-sobrenosotros {
  font-weight: bold;
}

.video {
  margin-bottom: 10px;
  display: flex;
}

@media (max-width: 576px) {
  .texto-sobrenosotros {
    font-size: larger;
    margin-top: 5px;
  }
  .texto-sobrenosotros .video {
    width: auto;
  }
}
.contacto-1 {
  position: relative;
  text-align: center;
  color: #ffffff;
}

.contacto-texto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(34, 193, 195);
  font-weight: bold;
  font-size: larger;
}

.contacto-2 {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  font-weight: bolder;
}

.contacto-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.imagen-contacto {
  height: 800px;
  width: 100%;
}

@media (max-width: 576px) {
  .contacto-texto {
    font-size: medium;
  }
  .mapa {
    display: flex;
    width: 80%;
  }
  .contacto-1 {
    display: flex;
  }
}
h1 {
  text-align: center;
  font-size: x-large;
}

.titulo-catalogo {
  text-align: center;
  font-size: x-large;
}

/*# sourceMappingURL=style.css.map */
