.contacto-1 {
  position: relative;
  text-align: center;
  color: $blanco;
}

.contacto-texto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $celeste;
  font-weight: bold;
}

.contacto-2 {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  font-weight: bolder;
}

.contacto-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.imagen-contacto {
  height: 800px;
  width: 100%;
}

@media (max-width: 576px) {
  .contacto-texto {
    font-size: medium;
  }
  .mapa {
    display: flex;
    width: 80%;
  }
  .contacto-1 {
    display: flex;
  }
}
