footer {
  display: flex;
  position: relative;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.822);
  font-style: italic;
  color: azure;
  padding: 30px;
}

footer button {
  background-color: white;
  color: black;
  border-radius: 12px;
  padding: 5px 10px;
  font-size: small;
}

.logosRedesSociales {
  display: flex;
  height: 34px;
  width: 300px;
  justify-content: space-between;
}
