.texto-sobrenosotros {
  font-weight: bold;
}

.video {
  margin-bottom: 10px;
  display: flex;
}

@media (max-width: 576px) {
  .texto-sobrenosotros {
    font-size: larger;
    margin-top: 5px;
    .video {
      width: auto;
    }
  }
}
